/* Palette PantheonLab */
:root > * {
  --md-primary-fg-color:        #E9B84A;
  --md-primary-fg-color--light: #F8E6C1;
  --md-primary-fg-color--dark:  #B58C2C;
  --md-accent-fg-color:         #5B4321;
  --md-accent-fg-color--light:  #7C6243;
  --md-accent-fg-color--dark:   #2C1D0A;
}

:root, [data-md-color-scheme="default"] {
  --md-primary-fg-color:        #8B4513 !important; /* Marron forcé */
  --md-primary-fg-color--light: #ffeabf;
  --md-primary-fg-color--dark:  #b58c2c;
  --md-primary-bg-color:        #fffaf0;
  --md-accent-fg-color:         #d1820d;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #E9B84A;
  --md-primary-fg-color--light: #fff4cc;
  --md-primary-fg-color--dark:  #a87a23;
  --md-primary-bg-color:        #33240b;
  --md-accent-fg-color:         #ffb300;
}

.md-header, .md-tabs {
  color: #5B4321 !important;
  background-color: #8B4513 !important;
}
.md-header__title, .md-header__button {
  color: #5B4321 !important;
}
